body {
  background:#3dbbff;
  height: 100%;
}

.container{
  min-height: 100%;
}


.center { 
  height: 100vh;
  position: relative;
}

.fill-width{
  width:100%
}

.content {
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}


.badge-pro {
  color: #fff;
  background-color: #ff7f07; 
  border-radius: 0;
}
  .badge-pro[href]:focus, .badge-pro[href]:hover {
    color: #fff;
    text-decoration: none;
    background-color: #ff7f07; }

.card-custom{
  position: relative;
  word-wrap: break-word;
  background-color: #fff;
  -webkit-box-shadow: 5px 5px 35px 0px rgba(0,0,0,0.29);
  -moz-box-shadow: 5px 5px 35px 0px rgba(0,0,0,0.29);
  box-shadow: 5px 5px 35px 0px rgba(0,0,0,0.29);
  width: 90%;
}

.gray-bg{
  background-color: #cac7c7;
  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }
  
  ol {
    list-style-type: none;
    display: inline-block;
  }
  
  li:nth-child(odd) {
    color: #777;
    text-align: center
  }
  li:nth-child(even) {
    color: rgb(48, 48, 48);
  }
  .inside{
    text-align: center;
    padding: 10px;
  }
}

a.btn.btn-success.btn-sm, a.btn.btn-primary.btn-sm {
  color: white;
}

.btn-sm, .btn-group-sm > .btn {
  padding: 0.25rem 4.5rem;
}



.showme{ 
  display: none;
  overflow: hidden;
  }
.showhim:hover .showme {
  display: block;
  background-color: rgba(0, 0, 0, 0.782);
  position: absolute;
  top: 0;
  height: 100%;
  width: 100%;
}

.overlay-content{
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  ul{
    text-align: center
    li{
      text-align: center
    }

  }
}